# Environment
ENV=development or production or test

# Database Configuration
DB_HOST=zeep-postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=zeep

# PG Admin Configuration
PG_EMAIL=postgres@admin.com
PG_PASSWORD=postgres

# Server Configuration
SERVER_PORT=8080

# Frontend Configuration
CLIENT_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET_KEY=SECRET_KEY

# Cloud Storage Configuration
PSKZ_ACCESS_KEY=your_access_key
PSKZ_SECRET_KEY=your_secret_key
PSKZ_ENDPOINT=https://your-domain.object.pscloud.io
PSKZ_BUCKETNAME=bucket

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0


# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CONSUMER_GROUP_ID=test_group
KAFKA_RETRY_ATTEMPTS=5
KAFKA_RETRY_INTERVAL=2
KAFKA_TOPIC_TEST_1=test1
KAFKA_TOPIC_TEST_2=test2